<!DOCTYPE html>
<html class="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cinkaset par Jean-François Desrochers</title>
        <link href="/css/vendor/fonts.css" rel="stylesheet" type="text/css">
        <link href="/css/cinkasetreports.css" rel="stylesheet">
        <style type="text/css">

        </style>
    </head>
    <body>
        {{#each page}}
        <div class="reportpage">
            <div class="reporttitle">{{assocname}}</div>
            <div class="reportsubtitle">{{assocno}}</div>
            {{#each block}}
            <div class="card shadow w{{posw}} h{{posh}} bg-{{bgstatus}}">
                <div class="card-inside">
                    <div class="{{mvpstatus}}"><i class="fa fa-trophy"></i>&nbsp; Champion de cette catégorie !</div>
                    <div class="chart-bg">
                        <div class="bg-progress" style="width: {{progress}}%"></div>
                    </div>
                    <div class="card-chart">
                        <div class="card-score">{{result}}</div>
                        <div class="card-unit">{{unit}}</div>
                        <div class="card-score-subtext">{{objective}}</div>
                    </div>
                    <div class="card-title">{{title}}</div>
                    <div class="card-subtitle">{{subtitle}}</div>
                    <div class="card-text">{{text}}</div>
                </div>
            </div>
            {{/each}}
            <img src="/img/beglogo.png" class="footer-img">
            <div class="footer-text">Rapport de performance de l'associé</div>
            <div class="footer-dates">du {{datefrom}}<br>au {{dateto}}</div>
        </div>
        {{/each}}
    </body>
</html>